
/* Header */
.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    background-color: var(--color-bg1);
    padding: 0 40px;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo span{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-text);
    margin-left: 10px;
}
.header .inner-logo a{
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    height: 50px;
    width: auto;
    
}

.header .inner-menu ul {
    /* bỏ đi dấu chấm */
    list-style: none; 
    display: flex;
    padding: 0;
    margin: 0;
}
.header .inner-menu ul li a{
    display: inline-flex;
    padding: 35px 20px;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
}
.header .inner-menu ul li a:hover {
    background-color: #fff;
}

.header .inner-social ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header .inner-social ul li a {
    /* nen dung */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 25px;
    color: var(--color-text);
}

.header .inner-icon-mobi{
    display: none;
}

@media (max-width : 991.98px){
    .header {
        padding: 20px;
    }

    .header .inner-icon-mobi{
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10px;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-social {
        display: none;
    }
}


/* End Header */

/* SECTION ONE */
.section-one{
    background-image: url(../images/background1.jpg) ;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 10rem 0;
    /* element cha nên để relative */
    position: relative; 
}

.section-one::before{
    /* element giả : con */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.section-one .inner-wrap{
    position: relative;
    
}
.section-one .inner-wrap .inner-sub-title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px ;
}
.section-one .inner-wrap .inner-title{
    color: #fff;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;
}
.section-one .inner-wrap .inner-desc{
    color: var(--color-bg1);
    font-size: 18px;
}
.section-one .inner-wrap .inner-sub-title{
    color: #fff;
}

.section-one .button{
    margin-right: 10px;
}

@media (max-width: 767.98px){
    .section-one .inner-wrap{
        text-align: center;
    }
    .section-one .button{
        margin-bottom: 15px;
    }
}
/* END SECTION ONE */

/* SECTION TWO */
.section-two{
    padding: 80px 0 50px;
    background-color: var(--color-bg1);
}

.section-two .inner-wrap{
    display: flex;
    align-items: center;
}

.section-two .inner-wrap .inner-image{
    width: 45%;
    margin-right: 50px;
}

.section-two .inner-wrap .inner-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-two .inner-wrap .inner-content{
    /* cái element này sẽ chiếm phần còn lại của box đó */
    flex: 1; 
}
.section-two .inner-wrap .inner-content .inner-sub-title{
    color: #868686;
}
.section-two .inner-wrap .inner-content .inner-title{
    color: var(--color-text);
    font-size: 60px;
    margin: 10px 0;
}
.section-two .inner-wrap .inner-list{
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.section-two .inner-wrap .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* can theo chieu doc */
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 140px;
    height: 130px;
}
.section-two .inner-wrap .inner-item i{
    color: var(--color-one);
    font-size: 40px;
    padding-bottom: 15px;
}
.section-two .inner-wrap .inner-item span{
    color: var(--color-text);
    font-weight: 600;
}

.section-two .inner-wrap .inner-desc {
    font-size: 18px;
    margin-bottom: 20px;
}
@media (max-width : 991.98px){
    .section-two .inner-wrap{
        flex-wrap: wrap;
    }
    .section-two .inner-wrap .inner-content{
        flex: none;
        width: 100%;
    }
    .section-two .inner-wrap .inner-image{
        width: 100%;
    }
}

@media (max-width : 767.98px){
    .section-two .inner-wrap .inner-content{
        text-align: center;
    }
    .section-two .inner-wrap .inner-image img{
        justify-content: center;
    }
    .section-two .inner-wrap .inner-list{
        justify-content: center;
    }
    .section-two .inner-wrap .inner-content .inner-title{
        font-size: 40px;
    }
}
/* END SECTION TWO */

/* BUTTONS */
.button{
    color: var(--color-text);
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px 30px;
    /* do dùng thẻ a nên phải để như này để k bị lỗi */
    display: inline-block;
    font-weight: 600;
}

.button-two{
    background-color: var(--color-two);
    border-color: var(--color-two);
}
.button-two:hover{
    background-color: #fff;
    border-color: #fff;
}

.button-two-outline{
    color: #fff;
    /* mau trong suot */
    background: transparent; 
    border-color: var(--color-bg1);
}
.button-two-outline:hover{
    background-color: var(--color-two);
    border-color: var(--color-two);
    color: black;
}
/* END BUTTONS */