
/* Header */
.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    background-color: var(--color-bg1);
    padding: 0 40px;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo span{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-text);
    margin-left: 10px;
}
.header .inner-logo a{
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    height: 50px;
    width: auto;
    
}

.header .inner-menu ul {
    /* bỏ đi dấu chấm */
    list-style: none; 
    display: flex;
    padding: 0;
    margin: 0;
}
.header .inner-menu ul li a{
    display: inline-flex;
    padding: 35px 20px;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
}
.header .inner-menu ul li a:hover {
    background-color: #fff;
}

.header .inner-social ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header .inner-social ul li a {
    /* nen dung */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 25px;
    color: var(--color-text);
}

.header .inner-icon-mobi{
    display: none;
}

@media (max-width : 991.98px){
    .header {
        padding: 20px;
    }

    .header .inner-icon-mobi{
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10px;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-social {
        display: none;
    }
}


/* End Header */

/* SECTION ONE */
.section-one{
    background-image: url(../images/background1.jpg) ;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 10rem 0;
    /* element cha nên để relative */
    position: relative; 
}

.section-one::before{
    /* element giả : con */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.section-one .inner-wrap{
    position: relative;
    
}
.section-one .inner-wrap .inner-sub-title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px ;
}
.section-one .inner-wrap .inner-title{
    color: #fff;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;
}
.section-one .inner-wrap .inner-desc{
    color: var(--color-bg1);
    font-size: 18px;
}
.section-one .inner-wrap .inner-sub-title{
    color: #fff;
}

.section-one .button{
    margin-right: 10px;
}

@media (max-width: 767.98px){
    .section-one .inner-wrap{
        text-align: center;
    }
    .section-one .button{
        margin-bottom: 15px;
    }
}
/* END SECTION ONE */

/* SECTION TWO */
.section-two{
    padding: 80px 0 50px;
    background-color: var(--color-bg1);
}

.section-two .inner-wrap{
    display: flex;
    align-items: center;
}

.section-two .inner-wrap .inner-image{
    width: 45%;
    margin-right: 50px;
}

.section-two .inner-wrap .inner-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-two .inner-wrap .inner-content{
    /* cái element này sẽ chiếm phần còn lại của box đó */
    flex: 1; 
}
.section-two .inner-wrap .inner-content .inner-sub-title{
    color: #868686;
}
.section-two .inner-wrap .inner-content .inner-title{
    color: var(--color-text);
    font-size: 60px;
    margin: 10px 0;
}
.section-two .inner-wrap .inner-list{
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.section-two .inner-wrap .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* can theo chieu doc */
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 140px;
    height: 130px;
}
.section-two .inner-wrap .inner-item i{
    color: var(--color-one);
    font-size: 40px;
    padding-bottom: 15px;
}
.section-two .inner-wrap .inner-item span{
    color: var(--color-text);
    font-weight: 600;
}

.section-two .inner-wrap .inner-desc {
    font-size: 18px;
    margin-bottom: 20px;
}
@media (max-width : 991.98px){
    .section-two .inner-wrap{
        flex-wrap: wrap;
    }
    .section-two .inner-wrap .inner-content{
        flex: none;
        width: 100%;
    }
    .section-two .inner-wrap .inner-image{
        width: 100%;
    }
}

@media (max-width : 767.98px){
    .section-two .inner-wrap .inner-content{
        text-align: center;
    }
    .section-two .inner-wrap .inner-image img{
        justify-content: center;
    }
    .section-two .inner-wrap .inner-list{
        justify-content: center;
    }
    .section-two .inner-wrap .inner-content .inner-title{
        font-size: 40px;
    }
}
/* END SECTION TWO */

/* SECTION THREE */

.section-three{
  background: var(--color-bg1);
  padding: 100px 0;
}
.section-three .inner-wrap{
  display: flex;
  padding: 40px;
  background: #fff;
  border-radius: 8px;
}

.section-three .inner-image{
  width: 35%;
  margin-left: 50px;
  bottom: 0;
  position: relative;
}
.section-three .inner-image img {
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  bottom: -40px;

} 
.section-three .inner-content{
  flex: 1;
}
.section-three .inner-content .inner-sub-title{
  margin: 0;
  color: #868686;
}
.section-three .inner-content .inner-title{
  margin: 0;
  font-size: 70px;
  color: var(--color-text);
}

@media (max-width: 1199.98px){
  .section-three .inner-image{
    margin-left: 33px;
  }
}
@media (max-width: 991.98px){
  .section-three .inner-wrap{
    flex-wrap: wrap;
  }
  .section-three .inner-content{
    width: 100%;
    flex: none;
  }
  .section-three .inner-image{
    width: 100%;
    margin-left: 0;
    text-align: center;

  }
  .section-three .inner-image img{
    position: static;
    width: 50%;
    height: auto;
    margin-bottom: -45px;

  }
  .section-three .inner-content .inner-title{
    font-size: 54px;
    margin-bottom: 40px;
    
  }
}

@media (max-width : 767.98px){
  .section-three .inner-image img{
    width: 98%;
  }
  .section-three .inner-content .n{
    text-align: center;
  }
  .section-three .inner-content .inner-title{
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
  }
}
/* END SECTION THREE */

/* BOX HEAD */
.box-head{

}
.box-head-center{
  text-align: center;
}
.box-head .inner-sub-title{
  color: #868686;
  margin-top: 0;
  margin-bottom: 10px;
}
.box-head .inner-title{
  color: var(--color-text);
  margin-top: 0;
  font-size: 60px;
  margin-bottom: 10px;
}
/* END BOX HEAD */



/* BUTTONS */
.button{
    color: var(--color-text);
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px 30px;
    /* do dùng thẻ a nên phải để như này để k bị lỗi */
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}

.button-two{
    background-color: var(--color-two);
    border-color: var(--color-two);
}
.button-two:hover{
    background-color: #fff;
    border-color: #fff;
}


.button-two-outline{
    color: #fff;
    /* mau trong suot */
    background: transparent; 
    border-color: var(--color-bg1);
}
.button-two-outline:hover{
    background-color: var(--color-two);
    border-color: var(--color-two);
    color: black;
}
.button-dark{
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: #fff;
}
.button-dark:hover{
  background-color: var(--color-two);
  border-color: var(--color-two);
  color: var(--color-text);
}
/* END BUTTONS */

/* VIEW ACTION */
.view-action{
  padding: 80px 0;
  background-color: var(--color-bg2);
}
.view-action .inner-wrap {
  margin-top: 50px;
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 10px;
  /* nhung thang thua ra sẽ bị ẩn đi */
  overflow: hidden;
}
.view-action .inner-wrap img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.view-action .inner-wrap .inner-button{
  cursor: pointer;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.view-action .inner-wrap .inner-button::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
    z-index: 0;
}
.view-action .inner-wrap .inner-button i {
  position: relative;
}
@keyframes icons {
  from {
    width: 120px;
    height: 120px;
    opacity: 0.8;
  }
  to {
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}


/* END VIEW ACTION */

/* CONTACT FORM */
.contact-form{
  padding: 80px 0;
}

.contact-form .inner-wrap{
  
  background: var(--color-bg2);
  padding: 60px;
  border-radius: 8px;
}

.contact-form .inner-form-wrap{
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap ;
  margin-bottom: 20px;
  justify-content: space-between;
}
.contact-form .inner-form-wrap input{
  width: 32.5%;
  height: 60px;
  
}
.contact-form .inner-form-wrap textarea{
  width: 100%;
  height: 200px;
}
.contact-form .inner-form-wrap input, .contact-form .inner-form-wrap textarea{
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  /* khi click vào sẽ k có cái khung */
  outline: 0; 
}
/* .contact-form .inner-form-wrap input:nth-child(2){
  margin: 0 10px;
} */

.contact-form .inner-button {
  text-align: right;
}

@media (max-width: 991.98px){
  .contact-form .inner-form-wrap input{
    width: 100%;
  }
  .contact-form .box-head {
    text-align: center;
  }
  .contact-form .box-head .inner-title{
    font-size: 40px;
  }
}
/* END CONTACT FORM */